Flask==1.0
Jinja2==2.6
PyGithub==1.4
SQLAlchemy==0.7.2
Werkzeug==0.8.3
cssselect==0.7.1
facebook-sdk==0.4.0
feedparser==5.1.2
google-api-python-client==1.0
httplib2==0.7.7
lxml==3.0
newrelic==1.13.1.31
postmonkey==1.0a4
psycopg2==2.4.2
python-gflags==2.0
python-googleanalytics==1.0.2
requests==0.13.5
-e git+https://github.com/bear/python-twitter.git#egg=python-twitter

