body {
    background: #eee;
}
.subcontainer {
    background: #fff;
    width: 400px;
    padding: 50px;
    margin-top: 40px;
}
footer {
    font-size: 10px;
    border-top: 1px solid #ccc;
    margin-top: 50px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 40px;
}
footer p {
    margin-bottom: 4px;
}
dd {
    margin-bottom: 8px;
}
.params td {
    border-top: none;
}
u {
    /* Hijacked this tag */
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    text-decoration: none;
}
.accordion {
    margin-top: 5px;
}
.url-opt {
    font-style: italic;
}
.accordion-inner {
    padding-left: 30px;
}
.label.pull-right {
    margin-left: 2px;
}
.accordion-inner pre {
    margin-top: 4px;
}
